.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
}

/* .valuation-table, .valuation-table td , .trade-list td, .trade-list th{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
  text-align: right;
} */

.flex-container {
	display: flex;
	flex-flow: row wrap;
	column-gap: 20px;
	justify-content: space-evenly
}

.flex-item {
  padding: 10px;
  max-width: 1280px;
  margin-top: 10px;
  border: solid black;
}

.valuation-table + th {
	text-align: left;
	max-width: 400px;
	border: solid gray;
}

.valuation-table + td {
	text-align: right;
	max-width: 400px;
	border: solid gray;
}
