.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
}

.between {
    justify-content: space-between;
}

.valuation-table, .valuation-table td , .trade-list td, .trade-list th{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
  text-align: right;
}

.valuation-table td {
	width: 120px;
}

