{% load humanize %}

<style>
    table.valuation td {
        text-align: right;
    }
</style>

<div id="para-alert" class="alert alert-secondary" role="alert" style="display: none"></div>

<table class="parameters table table-striped">
    <tbody>
        <tr>
            <th id="label-spot0">Spot Today</th>
            <td id="para-spot0"><input type="text" id="spot0"></input></td>
        </tr>
        <tr>
            <th id="label-spot">Spot</th>
            <td id="para-spot"><input type="text" id="spot"></input></td>
        </tr>
        <tr>
            <th id="label-fwd">Fwd</th>
            <td id="para-fwd"><input type="text" id="fwd"></input></td>
        </tr>
        <tr>
            <th id="label-vol">Swap Point</th>
            <td id="para-swap_point"><input type="text" id="swap_point"></input></td>
        </tr>
        <tr>
            <th id="label-vol">Volatility</th>
            <td id="para-vol"><input type="text" id="vol"></input></td>
        </tr>
        <tr>
            <th id="label-r">Local IR</th>
            <td id="para-r"><input type="text" id="r"></input></td>
        </tr>
        <tr>
            <th id="label-q">For IR</th>
            <td id="para-q"><input type="text" id="q"></input></td>
        </tr>
    </tbody>
</table>