{% load humanize %}

<style>
    table.valuation td {
        text-align: right;
    }
</style>

<div id="val-alert" class="alert alert-secondary" role="alert">
</div>

<table class="valuation table table-striped">
    <tbody>
        <tr>
            <th id="label-vol">Spot</th>
            <td id="val-spot"><input type="text" id="spot"></input></td>
        </tr>
        <tr>
            <th id="label-vol">Fwd</th>
            <td id="val-spot"><input type="text" id="fwd"></input></td>
        </tr>
        <tr>
            <th id="label-vol">Volatility</th>
            <td id="val-vol"><input type="text" id="vol"></input></td>
        </tr>
        <tr>
            <th id="label-vol">R</th>
            <td id="val-vol"><input type="text" id="r"></input></td>
        </tr>
        <tr>
            <th id="label-vol">Q</th>
            <td id="val-vol"><input type="text" id="q"></input></td>
        </tr>
        <tr>
            <th id="label-vol">Tenor</th>
            <td id="val-vol"><input type="text" id="t"></input></td>
        </tr>
    </tbody>
</table>