{% load humanize %}

<style>
    table.valuation td {
        text-align: right;
    }
</style>

<div class="alert alert-secondary" role="alert">
</div>

<table class="valuation table table-striped">
    <tbody>
    <tr>
        <th id="label-npv">NPV</th>
        <td id="val-npv">{{ form.initial.npv }}</td>
    </tr>
    <tr>
        <th id="label-delta">Delta</th>
        <td id="val-delta">{{ form.initial.delta }}</td>
    </tr>
    <tr>
        <th>Gamma</th>
        <td id="val-gamma">{{ form.initial.gamma |floatformat:0 | intcomma }}</td>
    </tr>
    <tr>
        <th>Vega</th>
        <td id="val-vega">{{ form.initial.vega }}</td>
    </tr>
    <tr>
        <th>Theta</th>
        <td id="val-theta"></td>
    </tr>
    <tr>
        <th>Ccy1 Rho</th>
        <td></td>
    </tr>
    <tr>
        <th>Ccy2 Rho</th>
        <td id="val-rho"></td>
    </tr>
    <tr>
        <th>ITM Probability</th>
        <td></td>
    </tr>
</tbody>
</table>