{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

<div class="trade-ticket row g-2">
    <div class="form-group col-lg-2">
        <label for="{{ form.buy_sell.id_for_label }}">{{ form.buy_sell.label }}:</label>        
        {% if form.is_bound %}
            {% if form.buy_sell.errors %}
                {% render_field form.buy_sell class+="is-invalid" %}
                {% for error in form.buy_sell.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% else %}
                {% render_field form.buy_sell class+="is-valid" %}
            {% endif %}
        {% else %}
            {% render_field form.buy_sell %}
        {% endif %}
    </div>

    <div class="form-group col-lg-2">
        <label for="{{ form.ccy_pair.id_for_label }}">{{ form.ccy_pair.label }}</label>
        {% if form.is_bound %}
            {% if form.ccy_pair.errors %}
                {% render_field form.ccy_pair class+="is-invalid" %}
                {% for error in form.ccy_pair.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% else %}
                {% render_field form.ccy_pair class+="is-valid" %}
            {% endif %}
        {% else %}
            {% render_field form.ccy_pair %}
        {% endif %}
    </div>

    <div class="col-lg-8">
    </div>

    <div class="form-group col-lg-3">
        <label for="{{ form.strike_price.id_for_label }}">{{ form.strike_price.label }}</label>
        {% if form.is_bound %}
            {% if form.strike_price.errors %}
                {% render_field form.strike_price class+="is-invalid" %}
                {% for error in form.strike_price.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% else %}
                {% render_field form.strike_price class+="is-valid" %}
            {% endif %}
        {% else %}
            {% render_field form.strike_price %}
        {% endif %}
    </div>

    <div class="form-group col-lg-3">
        <label for="{{ form.notional_1.id_for_label }}">{{ form.notional_1.label }}</label>
        {% if form.is_bound %}
            {% if form.notional_1.errors %}
                {% render_field form.notional_1 class+="is-invalid" %}
                {% for error in form.notional_1.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% else %}
                {% render_field form.notional_1 class+="is-valid" %}
            {% endif %}
        {% else %}
            {% render_field form.notional_1 %}
        {% endif %}
    </div>

    <div class="form-group col-lg-3" id="fld-notional-2">
        <label for="{{ form.notional_2.id_for_label }}">{{ form.notional_2.label }}</label>
        {% if form.is_bound %}
            {% if form.notional_2.errors %}
                {% render_field form.notional_2 class+="is-invalid" %}
                {% for error in form.notional_2.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% else %}
                {% render_field form.notional_2 class+="is-valid" %}
            {% endif %}
        {% else %}
            {% render_field form.notional_2 %}
        {% endif %}
    </div>
    
    <div class="col-lg-3">
    </div>

    <div class="form-group col-lg-3">
        <label for="{{ form.trade_date.id_for_label }}">{{ form.trade_date.label }}</label>
        {% if form.is_bound %}
            {% if form.trade_date.errors %}
                {% render_field form.trade_date class+="is-invalid" %}
                {% for error in form.trade_date.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% else %}
                {% render_field form.trade_date class+="is-valid" %}
            {% endif %}
        {% else %}
            {% render_field form.trade_date %}
        {% endif %}
    </div>

    <div class="form-group col-lg-3">
        <label for="{{ form.maturity_date.id_for_label }}">{{ form.maturity_date.label }}</label>
        {% if form.is_bound %}
            {% if form.maturity_date.errors %}
                {% render_field form.maturity_date class+="is-invalid" %}
                {% for error in form.maturity_date.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% else %}
                {% render_field form.maturity_date class+="is-valid" %}
            {% endif %}
        {% else %}
            {% render_field form.maturity_date %}
        {% endif %}
    </div>

    {% for field in form.visible_fields %}
        {% if not field.name in "trade_date, maturity_date, buy_sell, strike_price, notional_1, notional_2, ccy_pair" %}
            {% if field.help_text %}
              <div class="form-group col-lg-3" data-bs-toggle="tooltip" data-bs-placement="left" title="{{ field.help_text }}">
            {% else %}
              <div class="form-group col-lg-3">
            {% endif %}
                {% render_field field.label_tag %}
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class+="is-invalid" %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class+="is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field %}
                {% endif %}


            </div>
        {% endif %}
    {% endfor %}
</div>