{% extends "swpm/layout.html" %}
{% load static %}
{% load humanize %} 
{% debug %} 
{% block body %}

<div class="trade-area container-fluid">
  <form class="trade-form align-items-center">
    {% csrf_token %}
    <input type="hidden" name="trade_type" value="{{ trade_type }}" />
    <input type="hidden" name="origin_page" value="{{ request.path }}" />

    <input type="date" class="as_of" name="as_of" required id="id_as_of">
    <span id="trade-id">ID: {{ trade_id }}</span>
    {% if valuation_message %}
      <div class="callout"><span>{{ valuation_message }}</span></div>
    {% endif %}
    <div class="btn-list">
      <button id="btn-mkt" class="btn btn-primary">Load Market Data</button>
      <button id="btn-auto-fill" class="btn btn-primary" formaction="">Auto Fill</button>
      <button id="btn-std-fill" class="btn btn-secondary" formaction="">Standard Trade</button>
      <button id="btn-price" class="btn btn-primary">Price</button>
      <button id="btn-scn" type="submit" formaction="{% url 'fxo_scn' %}" class="btn btn-primary" formmethod="POST" formtarget="scn_window">Scenario</button>
      {% if user.is_authenticated %}
        <button type="submit" class="btn btn-primary" formaction="{% url 'fxo_create' %}" formmethod="POST">Do</button>
      {% endif %}
    </div>
    <div id="form-alert"></div>
    {% include 'swpm/includes/fxo_form.html' with form=form %}
    <div class="trade-ticket-permium row g-2" style="vertical-align: middle;">
      <div class="subset-header col-lg-1">Premium: </div>
      {% include 'swpm/includes/cashflow_form.html' with form=cashflowform %}
    </div>
    <div class="trade-ticket-bar-up row g-2" style="display: none;">{% include 'swpm/includes/barrier_form.html' with form=lower_barrier_detail_form %}</div>
    <div class="trade-ticket-bar-dn row g-2" style="display: none;">{% include 'swpm/includes/barrier_form.html' with form=upper_barrier_detail_form %}</div>
  </form>
</div>
<div class="val-result container-fluid">
  <div class="val-result-block" style="min-width: 216px; height: 235px;">
    <h4>Parameter</h4>
    <div id="mkt-table"></div>
  </div>
  <div class="val-result-block" style="min-width: 516px; height: 235px;">
    <h4>Valuation</h4>
    <div id="valuation-table"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<link rel="stylesheet" media="screen" href="http://handsontable.com/dist/jquery.handsontable.full.css">
<script src="{% static 'swpm/fxo.js' %}"></script>

{% endblock %}


{% block script %}

{% endblock %}
