{% extends "swpm/layout.html" %}
{% load static %}
{% load humanize %} 
{% debug %} 
{% block body %}
<div class="row container-fluid">
  <div class="trade-ticket col-md-6" style="border: skyblue; border-style: solid">
    <form class="trade-form">
      {% csrf_token %}
      <input type="date" class="as_of" name="as_of" required id="id_as_of">
      <fieldset>
        <legend>{{ trade_type }}</legend>
        {% if valuation_message %}
        <div class="callout"><span>{{ valuation_message }}</span></div>
        {% endif %}
        <button id="btn-mkt" type="submit" class="btn btn-primary">Load Market Data</button>
        <button type="submit" class="btn btn-primary" formaction="">Auto Fill</button>
        <button id="btn-price" type="submit" class="btn btn-primary">Price</button>
        {% if user.is_authenticated %}
          <button type="submit" class="btn btn-primary" formaction="{% url 'pricing-do' %}">Do</button>
        {% endif %}
        <!-- tab set start -->
        <nav>
          <ul class="nav nav-tabs" id="ticketTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="terms-tab" data-bs-toggle="tab" data-bs-target="#terms"
                type="button" role="tab" aria-controls="terms" aria-selected="true">
                Terms
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                Profile
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="mktdata-tab" data-bs-toggle="tab" data-bs-target="#mktdata"
                type="button" role="tab" aria-controls="mktdata" aria-selected="false">
                Market Data
              </button>
            </li>
          </ul>
          <div class="tab-content" ifd="ticketTabContent">
            <!-- terms contents start -->
            <div class="tab-pane fade show active" id="terms" role="tabpanel" aria-labelledby="terms-tab">
              <!-- table for form start -->
              <table style="width: 100%; border: solid 2px red">
                <div id="form-alert"></div>
                  {% include 'swpm/includes/fxo_form.html' with form=form %}
                <input type="hidden" name="trade_type" value="{{ trade_type }}" />
                <input type="hidden" name="origin_page" value="{{ request.path }}" />
              </table>
              <!-- table for form end   -->
            </div>
            <!-- terms contents end   -->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <h4>Cashflows</h4>
            </div>
            <div class="tab-pane fade" id="mktdata" role="tabpanel" aria-labelledby="mktdata-tab">
              <table>
                {{ market_data_form.fx_spot.as_table }}
              </table>
            </div>
          </div>
          <!-- tab set end  -->
        </nav>
      </fieldset>
    </form>
  </div>
  <!--End of class="trade-ticket">-->
  <div class="valuation col-md-3" style="border: grey; border-style: solid">
    <h4>Parameters</h4>
    {% include 'swpm/includes/fxo_parameters.html'%}
  </div>
  <div class="valuation col-md-3" style="border: grey; border-style: solid">
    <h4>Valuation</h4>
    {% include 'swpm/includes/fxo_valuation.html' with form=val_form %}
  </div>
  <!-- end of class='valuation'-->
</div>
<!-- end of class="row"-->

<script src="{% static 'swpm/fxo.js' %}"></script>

{% endblock %}
{% block script %}

<script src="{% static 'swpm/jquery-3.6.0.slim.min.js' %}"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

{% endblock %}
