{% extends "swpm/layout.html" %}
{% load static %}
{% load humanize %}

{% block body %}
<div class="app">
	<table class='app-list'  data-toggle="table">
		<thead><tr>
			<th data-field="application" data-sortable="true">Application</th>
			<th data-field="category" data-sortable="true">Category</th>
			<th data-field="user" data-sortable="true">User</th>
		</tr></thead>
		<tbody>
			<tr><td><a href="{% url 'trade' inst='fxo' %}">FX Option</a></td><td>Trade</td><td>---</td></tr>
			<tr><td><a href="{% url 'trade' inst='swap' %}">Swap</a></td><td>Trade</td><td>---</td></tr>
		</tbody>
	</table>
</div><br>
{% endblock %}


{% block script %}
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/cjs/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- BOOTSTRAP TABLE START -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
	<!-- Latest compiled and minified Locales -->
	<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/locale/bootstrap-table-zh-CN.min.js"></script>
	<!-- BOOTSTRAP TABLE END -->

{% endblock %}
