{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SWPM</title>
        
        <link href="{% static 'swpm/styles.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<style>
		  body {
			padding: 20px;
		  }
		  @media (max-width: 980px) {
			body {
			  padding: 0;
			}
		  }
		</style>
    </head>
    <body>
        <section class="about-header container border-bottom text-center"></section><h1>SWPM</h1></section><br>
		<div class='ccypair'>
			<form action="{% url 'ccypair' %}" method="post">
				<fieldset>
					<legend>Currency Pair</legend>
					<table>{{ myform.as_table }}</table>
					<button type="submit" class="btn btn-default">Save</button>
				</fieldset>
			</form>
			<span class='ccypair-msg'>{{ message }}<span>
		</div>
		<form action="{% url 'pricing' %}" method="post" >
			<fieldset>
				<legend>FX Option</legend>
					<table>{{ myFXOform.as_table }}</table>
					<button type="submit" class="btn btn-default">Price</button>
					<button type="submit" class="btn btn-default" formaction="{% url 'pricing-do' %}">Do</button>
			</fieldset>
		</form>
		{% if results.npv %}
			<div class='valuation'>
				<table class='valuation-table'>
					<tr><td>Spot</td><td>{{ market_data.spot|floatformat:4 }}</td></tr>
					<tr><td>NPV</td><td>{{ results.npv|floatformat:4 }}</td></tr>
					<tr><td>Delta</td><td>{{ results.delta|floatformat:4 }}</td></tr>
					<tr><td>Gamma</td><td>{{ results.gamma|floatformat:4 }}</td></tr>
					<tr><td>Vega</td><td>{{ results.vega|floatformat:4 }} </td></tr>
				</table>
			</div>
        {% endif %}
        <div class="row between">
        {{ mytime }}
    </body>
</html>
