{% load static %}
{% load plotly_dash %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Treasury System{% endblock %}</title>
        
        <link href="{% static 'swpm/styles.css' %}" rel="stylesheet">
		<style>
		  @media (max-width: 100%) {
			body {
			  padding: 10px;
			}
		  }
		</style>
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		
		{% plotly_header %}
		{% block script %}
        {% endblock %}
    </head>
	
	<body>
		<!--
			https://getbootstrap.com/docs/4.1/components/navbar/
		-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 6px;">
			<a class="navbar-brand" href="{% url 'index' %}">Treasury System</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="{% url 'trade_list' %}">Tread List</a>
				</li>
				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Trades
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'trade' inst='fxo' %}">FX Option</a>
					<a class="dropdown-item" href="{% url 'trade' inst='swap' %}">Swap</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Market Data
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">FX Rate</a>
						<a class="dropdown-item" href="{% url 'yield_curve_search' %}">Interest Rate</a>
						<div class="dropdown-divider"></div> 
						<a class="dropdown-item" href="#">FX Volatility</a>
						<a class="dropdown-item" href="#">Interest Rate Volatility</a>
						<div class="dropdown-divider"></div> 
						<a class="dropdown-item" href="{% url 'market_data_import' %}">Import</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Static Data
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Currency</a>
						<a class="dropdown-item" href="#">Currency Pair</a>
						<div class="dropdown-divider"></div> 
						<a class="dropdown-item" href="#">Book</a>
						<a class="dropdown-item" href="#">Counterparty</a>
						<div class="dropdown-divider"></div> 
						<a class="dropdown-item" href="#">Scenario</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Utilities
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Risk Analysis</a>
						<a class="dropdown-item" href="#">VaR Computation</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Stress Testing</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{% url 'reval' %}">Revaluation</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Reports
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">PL Report</a>
					<a class="dropdown-item" href="#">VaR Report</a>
					<a class="dropdown-item" href="#">Counterparty Credit Risk Report</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
					{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="/admin"><strong>{{ user.username }}</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'logout' %}">Log Out</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'login' %}">Log In</a>
						</li>
					{% endif %}
				
				<!--<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li> -->
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
					<button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
		
        <div class="container main-body">
            {% block body %}
            {% endblock %}
        </div>
		<div class="full-screen" style="display: none">
			<div class="loader"></div>
		</div>
		<!-- end of container main-body -->
    </body>
	{% plotly_footer %}
</html>
