{% extends "swpm/layout.html" %}
{% load static %}
{% load humanize %}

{% block body %}
		<div>
			<form action="{% url 'market_data_import' %}" method="post" enctype="multipart/form-data">
				<fieldset>
					<legend>Curve Import</legend>
					<table>
						{{ upload_file_form }}
					</table>
				</fieldset>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			<span>{{ message }}</span>
		</div>
{% endblock %}

{% block script %}
<script src="{% static 'swpm/index.js' %}"></script>
<script src="{% static 'swpm/jquery-3.6.0.slim.min.js' %}"></script>

<!-- BOOTSTRAP TABLE START -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<!-- BOOTSTRAP TABLE END -->
{% endblock %}
