{% extends "swpm/layout.html" %}
{% load static %}
{% load humanize %} 
{% debug %} 
{% block body %}

<div class="selection-area">
  <form action="{% url 'mkt_curve' %}" method="GET">
    <label for="date">Date: </label>
    {% if date %}
      <input type="date" id="date" name="date" value='{{ date }}'/>
    {% else %}
      <input type="date" id="date" name="date"/>
    {% endif %}
    <label for="ccy">Currency: </label>
    {% if ccy %}
      <input type="text" id="ccy" name="ccy" value='{{ ccy }}'/>
    {% else %}
      <input type="text" id="ccy" name="ccy"/>
    {% endif %}
    <label for="name">Name: </label>
    {% if name %}
      <input type="text" id="name" name="name" value='{{ name }}'/>
    {% else %}
      <input type="text" id="name" name="name"/>
    {% endif %}
    <input type="submit" value="Choose"/>
  </form>
</div>
<div class="def-area">
</div>
<div class="action-area">
  <button type="button" class="btn btn-primary" id="save">Save</button>
  <button type="button" class="btn btn-primary" id="zero-calc" data-bs-toggle="modal" data-bs-target="#plotModal">Zero Curve</button>
  <button type="button" class="btn btn-primary" id="test">test</button>
</div>
<div class="data-area">
  <div>
    {{ curve_setting.as_p }}
  </div>
  <div class="curve-table">
  </div>
</div>
<div class="message-area"></div>


<div class="modal fade" id="plotModal" tabindex="-1" aria-labelledby="plotLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" style="width: 960px">
      <div class="modal-header">
        <h5 class="modal-title" id="plotLabel">Zero Curve</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="plot" style="width: 920px; height:480px; margin:auto;">Loading...</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<link rel="stylesheet" media="screen" href="http://handsontable.com/dist/jquery.handsontable.full.css">
<script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
<script src="{% static 'swpm/curve.js' %}"></script>

{% endblock %}

{% block script %}
{% endblock %}