{% extends "swpm/layout.html" %}
{% load static %}
{% load humanize %}

{% block body %}
		<div class="container-fluid">
			<legend>Search Trade</legend>
			<form action="{% url 'trade_list' %}" method="post">
				{% csrf_token %}
				{{ form }}
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>

		<div class="container-fluid">
			<fieldset>
				<table class='trade-list' data-toggle="table" data-search="true" data-show-columns="true" data-search-selector="true">
					<thead>
						<tr>
							<th data-field="tradeid" data-sortable="true">Trade ID</th>
							<th data-field="producttype" data-sortable="true">Product Type</th>
							<th data-field="ccypair" data-sortable="true">Currency Pair</th>
							<th>Type</th>
							<th>CP</th>
							<th data-field="tradedate" data-sortable="true">Trade Date</th>
							<th data-field="maturitydate" data-sortable="true">Maturity</th>
							<th>Notional 1</th>
							<th>Notional 2</th>
							<th>Input User</th>
							<th>Book</th>
							<th>Counterparty</th>
						</tr>
					</thead>
					<tbody>
						{% for t in search_result %}
							<tr>
								<td class='tradeid'><a href="trade/{{ t.product_type }}/{{ t.id }}">{{ t.id }}</a></td>
								<td class='tradeid'>{{ t.product_type }}</td>
								<td class='ccypair'>{{ t.ccy_pair_id }}</td>
								<td class='type'>{{ t.type }}</td>
								<td class='cp'>{{ t.cp }}</td>
								<td class='tradedate'>{{ t.trade_date |date:'Y-m-d'}}</td>
								<td class='maturitydate'>{{ t.maturity_date |date:'Y-m-d'}}</td>
								<td class='notional1'>{{ t.notional_1 |floatformat:0 | intcomma }}</td>
								<td class='notional2'>{{ t.notional_2 |floatformat:0 | intcomma }}</td>
								<td class='inputuser'>{{ t.input_user_id }}</td>
								<td class="book">{{ t.book_id }}</td>
								<td class="counterparty">{{ t.counterparty_id }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</fieldset>
		</div>

{% endblock %}

{% block script %}
	<script src="{% static 'swpm/index.js' %}"></script>
	<script src="{% static 'swpm/jquery-3.6.0.slim.min.js' %}"></script>
	
	<!-- BOOTSTRAP TABLE START -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
	<!-- Latest compiled and minified Locales -->
	<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/locale/bootstrap-table-zh-CN.min.js"></script>
	<!-- BOOTSTRAP TABLE END -->

{% endblock %}

