{% extends "swpm/layout.html" %}
{% load static %}
{% load humanize %}

{% block body %}
		<div>
			<fieldset>
				<legend>Trade List</legend>
				<table class='trade-list'>
					<tr>
						<th>Trade ID</th>
						<th>Currency Pair</th>
						<th>Type</th>
						<th>CP</th>
						<th>Trade Date</th>
						<th>Maturity</th>
						<th>Notional 1</th>
						<th>Notional 2</th>
					</tr>
					{% for t in data %}
						<tr>
							<td class='tradeid'><a href="trade/{{ t.id }}">{{ t.id }}</a></td>
							<td class='ccypair'>{{ t.ccy_pair_id }}</td>
							<td class='type'>{{ t.type }}</td>
							<td class='cp'>{{ t.cp }}</td>
							<td class='tradedate'>{{ t.trade_date }}</td>
							<td class='maturitydate'>{{ t.maturity_date }}</td>
							<td class='notional1'>{{ t.notional_1 |floatformat:0 | intcomma }}</td>
							<td class='notional2'>{{ t.notional_2 |floatformat:0 | intcomma }}</td>
						</tr>
					{% endfor %}
				</table>
			</fieldset>
		</div>
{% endblock %}

{% block script %}
<script src="{% static 'swpm/index.js' %}"></script>
<script src="{% static 'swpm/jquery-3.6.0.slim.min.js' %}"></script>
{% endblock %}
