{% extends "swpm/layout.html" %}
{% load static %}
{% load humanize %}
{% load plotly_dash %}

{% block body %}
	<div class="flex-container" style="width: auto;">

		<div class="search-fields col-md-12">
			<legend>Search Yield Curve</legend>
            <form action="{% url 'yield_curve_search' %}" method="post">
                {{ form }}
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
		</div> <!-- end of class="search-fields col-mod-12"-->

		<div class="lower-panel" style="width: 100%;">
			<div class="search-result">
				{% if search_result %}
				<fieldset>
					<table class='curve-list' data-toggle="table">
						<thead>
							<tr>
								<th data-field="date" data-sortable="true">Date</th>
								<th data-field="ccy" data-sortable="true">Ccy</th>
								<th data-field="name" data-sortable="true">Name</th>
							</tr>
						</thead>
						<tbody>
							{% for r in search_result %}
							<tr>
								<td class='date'><a href="{% url 'yield_curve' ref_date=r.ref_date curve=r.name ccy=r.ccy_id %}">{{ r.ref_date |date:'Y-m-d' }}</a></td>
								<td class='ccy'><a href="{% url 'yield_curve' ref_date=r.ref_date curve=r.name ccy=r.ccy_id %}">{{ r.ccy_id }}</a></td>
								<td class='name'><a href="{% url 'yield_curve' ref_date=r.ref_date curve=r.name ccy=r.ccy_id %}">{{ r.name }}</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</fieldset>
				{% elif data %}
				<div class="row interest-rate-data">
					<div class="loader-inner ball-spin-fade-loader"></div>
					<div class="row">
						<div class="col-md-12 all-tabs">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Rate</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Graph</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Other</button>
								</li>
							</ul>
							<div class="tab-content" id="myTabContent">
								<!-- rate list -->
								<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
									<div class="col-md-12" style="padding: 4px;">
										<table class='rate-list'  data-toggle="table" data-search="true" data-show-columns="true">
											<strong>{{ data.name }}</strong> as of <strong>{{ data.ref_date |date:'Y-m-d' }}</strong>
											<thead><tr>
												<th data-field="id" data-sortable="true">ID</th>
												<th data-field="tenor" data-sortable="true">Tenor</th>
												<th data-field="date" data-sortable="true">Date</th>
												<th data-field="mkt_rate" data-sortable="true">Market Rate</th>
												<th data-field="zero_rate" data-sortable="true">Zero Rate</th>
											</tr></thead>
											<tbody>
											{% for r in data.rates %}
												<tr>
													<td class='id'><a href="#">{{ r.id }}</a></td>
													<td class='tenor'>{{ r.tenor }}</td>
													<td class='date'>{{ r.date }}</td>
													<td class='mkt_rate'>{{ r.rate |floatformat:10 }}</td>
													<td class='zero_rate'>{{ r.zero_rate |floatformat:10 }}</td>
												</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								<!-- rate list end -->
								<!-- Graph Tab start -->
								<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
									<div class="yts-plot col-md-12">
										{% plotly_direct name="yts_plot" %}
									</div>
								</div>
								<!-- Graph Tab end -->
								<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3</div>
							</div>
						</div> <!-- end of class="col-md-12" -->
					</div> <!-- END OF CLASS="ROW"-->
				</div><!-- end of class="row interest-rate-data" -->
				{% else %}
				<span>No result found</span>
				{% endif %}
			</div> <!-- END OF class="search-reslut" -->
		</div> <!-- END OF class="lower-panel" -->
	</div>
{% endblock %}

{% block script %}
	<script src="{% static 'swpm/index.js' %}"></script>
	<script src="{% static 'swpm/jquery-3.6.0.slim.min.js' %}"></script>
	
	<!-- BOOTSTRAP TABLE START -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
	<!-- Latest compiled and minified Locales -->
	<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/locale/bootstrap-table-zh-CN.min.js"></script>
	<!-- BOOTSTRAP TABLE END -->

{% endblock %}
